<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org" xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Eventos</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="style/styleCss.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="corpoPagina">
    <header>
        <nav class="navStyle">
            <div class="nav-wrapper">
              <a  class="brand-logo black-text">Formulário de Cadastro de Eventos</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="waves-effect waves-light btn z-depth-1 btnStyle" href="/eventos">Lista de Eventos</a></li>
              </ul>
            </div>
          </nav>
    </header>
    
    <div th:if="${flashMessage != null}">
        <div th:replace="mensagemValidacao :: alert (type=${flashType}, message=${flashMessage})"></div>
    </div>

    <div class=" container formEvento">
        <form class="container" method="post">
            Nome: <input type="text" name="nome" id="nome">
            <div class="row">
                <div class="input-field col s6">
                    Local: <input type="text" name="local" id="local">
                </div>
                <div class="input-field col s3">
                    Data: <input type="date" name="data" id="data">
                </div>
                <div class="input-field col s3">
                    Horario: <input type="time" name="horario" id="horario">
                </div>
            </div>
            <button class="btn waves-effect waves-light z-depth-1 btnStyle" type="submit">Salvar</button>
        </form>
    </div>
    <!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>